.btn {
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 2rem;
  color: aliceblue;
  padding: 10px;
  font-family: var(--secondary-font);
  font-weight: 500;
  background-color: orange;
  display: block;
}
