.reviews {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .top {
    margin-left: 20px;
    h1 {
      font-size: 2.5rem;
      font-family: var(--primary-font);
    }
  }
  .container-reviews {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    .review {
      width: 450px;
      padding: 20px;
      background-color: rgba(28, 28, 28, 0.037);
      color: rgb(5, 0, 0);
      .stars {
        color: orange;
      }
      p {
        text-transform: uppercase;
        font-family: var(--main-font);
        letter-spacing: 1px;
        font-size: 1.3rem;
      }
      .username {
        font-size: 1.5rem;
        font-family: var(--primary-font);
      }
    }
  }
}

@media (max-width: 576px) {
  .reviews {
    height: auto;
    margin: 20px;
    .top {
      margin: 0px;
      text-align: center;
      h1 {
        font-size: 2rem;
        margin-bottom: 80px;
        font-family: var(--primary-font);
      }
    }
    .container-reviews {
      margin-top: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 10px;
      .review {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;

        color: rgb(7, 0, 0);
        .stars {
          color: orange;
        }
        p {
          text-transform: uppercase;
          font-family: var(--main-font);
          letter-spacing: 1px;
        }
        .username {
          font-size: 1.5rem;
          font-family: var(--primary-font);
        }
      }
    }
  }
}
