.footer {
  display: flex;
  background-color: rgba(152, 251, 152, 0.082);
  padding: 20px;
  font-size: 12px;
  justify-content: space-around;
  align-items: center;
  color: rgb(1, 0, 0);
  font-size: 2rem;
  font-family: var(--primary-font);
  .icons {
    font-size: 1.5rem;
    color: orange;
  }
}

@media (max-width: 576px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
    margin-top: 20px;
  }
}
